
<div class= "upsideimage" >
<div class="container">
<div class="row">
	<div class="col-md-4"> 
		<h2>..back then</h2>
			 <img src="img/melkid.jpg" alt="Mel as a Child" style="width:304px;height:228px">   
	</div>
	<div class="col-md-4">
		<img src="img/melnoraw.jpg" alt="unhealthy" style="width:304px;height:228px">   
	</div>
	<div class="col-md-4">
		<img src="img/melnoraw.jpg" alt="unhealthy" style="width:304px;height:228px">   
	</div>
	<div class="col-md-4">
    <p> Melanie Lotos.. <br><br></p>
    <p>..grew up on a farm in the Black Forest, Germany.

		In her teens she moved to boarding school, where alcohol and drugs became part of her life. At that time she had the chance to travel to Egypt and India, which started her interest in different cultures and food. Later traveling in Asia and Australia she decided to study art, which seemed fitting for a free spirit like her. But although making art and traveling around the world where amazing learning experiences, she felt lost and became depressed and very sick. 

		In 2009 while traveling in Argentina a Gastroenteritis led to Arthritis and she was told, that she'll never be able to walk normal again. After this diagnosis she started researching and became a raw vegan in a matter of days and soon found herself working at the Farm of Life in Costa Rica. While fasting and feasting, cleansing and mediating and eating mostly raw she has overcome many ailments like depression, joint pain and lost weight along the way. 
		A more detailed biography can be found here.
		Over the past 3 years Melanie has been working at the Restaurant La Mano Verde and Veganz in Berlin as well as the Cafe Gratitude in Munich. Currently she works as a private Chef and is a student at the Institute for Integrative Nutrition.
		Melanie's raw food healing journey can be experienced through her blog. - See more at: http://www.melanielotos.com/about-
		</p>
    </div>
</div>
</div>
</div>


