	<script>
		window.baseUrl = "/coverflow";
	</script>


<div class="row">
				<div class="col-md-12 ui-coverflow-wrapper ui-clearfix">
		<div class="wrapper ui-coverflow" id="coverflow">
			<img
				src="../../img/melnoraw.jpg"
				alt="The Prodigy - music for the jilted generation" />
			<img
				src="../../img/recover.jpg" style="width:487px;height:449px"
				alt="Nana Kitade - I scream" />
			<img
				src="../../img/melkid.jpg" style="width:487px;height:449px"
				alt="Nana Kitade - I scream" />
			<img
				src="/coverflow/assets/img/acdc.jpg"
				alt="ACDC"
				data-license="http://creativecommons.org/licenses/by/2.0/"
				data-contact="http://www.flickr.com/photos/mccoycreations/"
				data-author="Mary McCoy" />
		</div>
		<div id="license">
		</div>