 
  <div class= "bgimage" >
  <div class="main">
    <div id="overview" class="box">
      <h1>READY FOR CHANGE?</h1>
      

<a> Do you struggle with a lack of energy, overweight or constant pain? </a>

<a> Learn easy steps to manage your stress level and reconnect to your inner strength.</a>

<a> Learn how to: <br>
over come chronic pain and gain back energy.<br>
develop and maintain healthy eating habits.<br>
change your mindset.<br>
feel good about yourself.<br>
</a>


<a>Learn how you can reach your goals and live the life you want!</a>


<a> I offer optimal health coaching in form of: <br>
One-on-one online coaching <br>
Group coaching <br>
Retreats </a>

<a> I've been trained at the Institute for Integrative Nutrition, in more than 100 dietary theories and studied a variety of practical </a>lifestyle coaching methods. <br>
Drawing on this knowledge, I will help you create a completely personalized “roadmap to health” that suits your unique body, lifestyle, <br>preferences and goals.</a>
 
<a> Learn more about my training and my unique approach to health coaching. <br>
Are you curious about how health coaching can help you? Let’s talk. Schedule a free initial consultation with me today.</a>

<a> Follow the link below to find out more about my education and personal development.  <br>
- See more at: http://www.melanielotos.com/#sthash.Cuvcu0GB.dpuf</a>

  </div>
  </div>
  </div>
