
<div class= "bgimage" >
<div class="container">
<div class="row">
<div class="col-sm-3 col-md-3">
    <h1> READY <br>
    FOR <br>
    CHANGE? </h1>
    <h2> _____________ </h2>
</div>
<div class="col-sm-3 col-md-3">
    <p> Learn how to: <br><br>
    + over come chronic pain  &  gain back energy <br>
    + develop and maintain healthy eating habits <br>
    + change your mindset <br>
    + feel good about yourself! <br>
    </p>
    <p>= reach your goals and live the life you want!</p>
</div>
</div>