<link rel="stylesheet" type="text/css" href="coverflow.css" />
<script src="jquery.min.js"></script>


			<div class="row">
				<div class="col-md-12 ui-coverflow-wrapper ui-clearfix">
		<div class="wrapper ui-coverflow" id="coverflow">
			<img
				src="../../img/.jpg"
				alt="The Prodigy - music for the jilted generation" />
			<img
				src="../../img/.jpg"
				alt="Nana Kitade - I scream"
				data-license="http://creativecommons.org/licenses/by/2.0/"
				data-contact="http://www.flickr.com/photos/puuikibeach/"
				data-author="davidd" />
			
		</div>
		<div id="license">
		</div>
	</div>
	</div>



<script src="coverflow.min.js"></script>
<script>
    $(function() {
		// and kick off
        $('#coverflow').coverflow();
    });
</script>