	<head>
	</style>
		<script src="../javascripts/jquery.min.js"></script>
		<script src="../javascripts/stellar.js"></script>

		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
	</head>

	<body>
	<h1> Caching Process </h1>

		<div class="photo coaching" data-stellar-background-ratio="0.5"><span>Coaching</span></div>
		<div class="photo approach" data-stellar-background-ratio="0.5"><span>Approach</span></div>
		<div class="photo training" data-stellar-background-ratio="0.5"><span>Training</span></div>
		
	</body>