<script type="text/javascript">
$(function() {
    $.stellar();
});
</script>

<div data-stellar-ratio="2">

<div id="wrap">
    <div id="a" data-stellar-ratio="1"></div>
    <div id="b" data-stellar-ratio="2"></div>
    <div id="c" data-stellar-ratio="1"></div>
</div>


 <h1> What do we do here? </h1>
<h2> coaching </h2>
<h2> approach </h2>
<h2> clients </h2>
</div>

 <!-- Breaks with parallax END-->

