/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bigvideo";
@import "video-js.min";

body {
  font-family: 'Cantata One', serif;  color: #000;
  text-align: center;
  padding-top: 82px;        
}

/*navbar*/
.navbar {
  background-color: #000;
  opacity: 0.4;
  color: white !important;
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: white !important;
}

.navbar-inverse .navbar-form {
  margin-right: 40px;
 }

.form-group a {
  padding-left: 50px;
  text-decoration: none !important; 
  color: white !important;
  font-size: 20px;
}

.img {
  padding-bottom: -10px;
  opacity: 0.6;
}

/*home container*/
.col-sm-3 {
  width: 80%;
  position:right;
  background: rgba(0,0,0,.0);
  margin-bottom: 15px;
  margin-left: 500px;
  text-align: left;
}

.col-sm-3 p {
  color: white;
  font-size: 18px;
  padding-left: 60px;
}

.col-sm-3 h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.col-sm-3 h2 {
  color: white;
  font-size: 70px;
  margin-top: -65px;
  font-weight: bold;
}

.row {
  margin-top: -60px;
}

a:hover { 
  text-decoration: none !important; 
}

.bgimage {
  background-image: url("../../img/carrots.jpg");
  margin-top: -83px;
  padding-bottom: 200px;
  padding-top: 60px;
}


/*about container*/

.topimage {
  background-image: url("header.jpg");
  padding-bottom: 80px;
  margin-top: -82px;
  background-size: cover;
  padding-top: 200px;
}

.topimage a {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

.row .about {
  padding-top: 120px;
}

.carton {
  padding-right: 140px;
  font-style: italic;
}

.container.about {
  margin-top: 120px;
  margin-left: 140px !important;
}

.col-md-4 {
  margin-right: 80px;
  margin-left: 20px;
}

/*footer all pages*/
.footerhold {   
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footerhold a {
    color: black;
    font-size: 1em;
    padding-bottom: 2px;
}
