

.box { 
	background:#444; background:rgba(0,0,0,.6);
	padding:20px;
	border-radius:5px;
	margin-bottom:20px;
}

.jumbotron {
	background-size: cover;
	background-image: url("../../img/carrot.jpg")
}

.container-front {
	padding-top: 30px;
	padding-bottom: 70px;
}


.main {
	position:relative;
	margin:50px 50px 440px 220px;
	min-width:300px;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

h1 {
font-size:48px; 
}

h1, h2, h3, p { 
margin:0 0 10px; color:#fff; text-shadow: 1px 1px 1px #000;
}