<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
    
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <title>Coaching - Melotos</title>

</head>
  
  <body>

  <header>
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <a href="pages/home.html"> <img src="../../img/melotos-01.png" style="width:183px;height:60px"></a>
          </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <a href="/pages/home.html">Home</a>
            </div>
            <div class="form-group">
              <a href="/pages/what.html">Approach</a>
            </div>
            <div class="form-group">
              <a href="/pages/about.html">About</a>
            </div>
            <div class="form-group">
              <a href="/pages/blog.html">Blog</a>
            </div>
          </form>
        </div>
      </div>
    </div>
 </header>

<%= yield %>


</body>

</html>
